@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .test-red {
        border: 1px solid red;
    }

    .test-green {
        border: 1px solid green;
    }

    .test-blue {
        border: 1px solid blue;
    }

    .background-home {
        background: url(../src/assets/home/background-home-desktop.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}